.todo {

  .todo__wrapper-list {
    background-color: #d7d7d7;
    border: 1px solid #121212;
    border-radius: 10px;
    margin: 12px;

  }
  
  .todo__enter {
    display: flex;
    justify-content: center;
    gap: 20px;

    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  
  .todo__enter-delete-all {
    
  }
  
  .todo__enter-delete-last {
    
  }
  
  .todo__enter-input {
    width: 600px;
    border-radius: 5px;
    text-align: center;
  }
  
  .todo__enter-add {
    
  }
  
  .todo__search {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
    align-items: center;
  }
  
  .search__all {
    display: flex;
    gap: 10px;
  }
  
  .search__all-desc {
    
  }
  
  .search__all-value {
    
  }
  
  .search__completed {
    display: flex;
    gap: 10px;
  }
  
  .search__completed-desc {
    
  }
  
  .search__completed-value {
    
  }
  
  .search__show-all {
    
  }
  
  .search__show-completed {
    
  }
  
  .search__input {
    width: 200px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
  }
  
  .todoes__content {
    display: grid;
    justify-content: center;
    gap: 20px;

    margin-bottom: 20px;
  }
  
  .todo__item {
    
  }
  
  .todo__wrapper{
    border: 1px solid #121212;
    background-color: #717171;
    border-radius: 10px;

    padding: 20px;
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .todo__completed-check {
    width: 30px;
    height:  30px;
  }
  
  .todo__text {
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .todo__action {
    
  }
  
  .todo__close {
    margin-bottom: 10px;
  }
  
  .todo__date {
    padding: 5px;
    background-color: #d7d7d7;
    border-radius: 5px;
  }

}


