.todo {

  .todo__wrapper-list {
    background-color: #d7d7d7;
    border: 1px solid #121212;
    border-radius: 10px;
    margin: 12px;
  }
  
  .todo__enter {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
  }
  
  .todo__enter-delete-all {
    
  }
  
  .todo__enter-delete-last {
    
  }
  
  .todo__enter-input {
    
  }
  
  .todo__enter-add {
    
  }
  
  .todo__search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .search__all {
    display: flex;
    gap: 2px;
  }
  
  .search__all-desc {
    
  }
  
  .search__all-value {
    
  }
  
  .search__completed {
    display: flex;
    gap: 2px;
  }
  
  .search__completed-desc {
    
  }
  
  .search__completed-value {
    
  }
  
  .search__show-all {
    
  }
  
  .search__show-completed {
    
  }
  
  .search__input {
    
  }
  
  .todoes__content {
    display: grid;
    justify-content: center;
    gap: 20px;
  }
  
  .todo__item {
    
  }
  
  .todo__wrapper{
    border: 1px solid #121212;
    background-color: #717171;

    max-width: 400px;
    display: flex;
  }

  .todo__completed {
  
  }
  
  .todo__text {
    
  }
  
  .todo__action {
    
  }
  
  .todo__close {
    
  }
  
  .todo__date {
    
  }

}


