  button{
    border-radius: 10px;
    width: 150px;
  }
  
  .section {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  
  .section button {
    padding: 20px 8px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .section input[type="text"] {
    padding: 20px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    text-align: center;
  }
  
  .section button:hover {
    background-color: #0056b3;
  }
  
  .item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative; 
  }
  
  .item input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .item input[type="text"] {
    width: 85%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }
  
  .item button {
    width: 50px;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .item .close-btn {
    position: absolute;
    border-radius: 7px;
    top: -16px;
    right: -16px;
  }
  
  .item .date-btn {
    position: absolute;
    border-radius: 7px;
    background-color: #ccd8f2;
    color: #ffffff;
    bottom: -25px;
    right: -16px;
  }
  
  .item button:hover {
    background-color: #0056b3;
  }
  
  .window-container {
    width: 36%;
    margin: 0 auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }

